<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>profsmallpine portfolio</title>

    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="apple-touch-icon" href="/assets/images/favicon.png">

    <!-- Load all css -->
    {{ stylesheetTag }}
  </head>
  <body class="full-intro background--dark">
    <section id="preloader">
      <div class="loader" id="loader">
          <div class="loader-img"></div>
      </div>
    </section>

    <div class="wrapper">
      {{ template "pageContent" . }}
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDkbq0b7UoXJbNA3Kmbiz2n4qHmBUkArQs" type="text/javascript"></script>
    {{ javascriptTag }}

    <script type="text/javascript">
      //  Onepage Nav Elements
      $('.singlepage-nav').singlePageNav({
        offset: 0,
        filter: ':not(.nav-external)',
        updateHash: true,
        currentClass: 'current-ele',
        easing: 'swing',
        speed: 750,
        beforeStart: function () {
          console.log('begin scrolling');
        },
        onComplete: function () {
          console.log('done scrolling');
        }
      });
    </script>
  </body>
</html>
