{{ define "pageContent" }}
  {{ template "header" . }}
  {{ template "intro" . }}

  {{ template "about" . }}
  {{ template "services" . }}
  {{ template "work" . }}
  {{ template "social" . }}
  {{ template "contact" . }}
  {{ template "map" . }}

  {{ template "footer" . }}
{{ end }}
