{{ define "about" }}
<section id="about" class="wow fadeIn ptb ptb-sm-80">
  <div class="container">
    <h3 class="float-left float-none-xs">About Story</h3>
    <div class="clearfix"></div>
    <div class="spacer-60"></div>

    <div class="row">
      <!-- Welcome Content -->
      <div class="col-md-4 mb-30">
        <p class="lead">I made a career shift from laser sorting equipment engineering in the food industry to web development.</p>
        <p>I have professional experience with Go, Ruby, Rails, C#/ASP.NET MVC, Python/Pyramid, VueJS, Mongo, Docker, Linux Server Management, and PostgreSQL.</p>
        <p>I am currently leading development at a startup in the Fintech world.</p>
        <div class="spacer-15"></div>
        <a class="btn btn-md btn-black" href="/download"><i class="fa fa-download left"></i>Resume</a>
      </div>
      <!-- End Welcome Content -->

      <!-- History Content -->
      <div class="col-md-4 mb-30">
        <div class="accordion">
          <div class="accordion-section">
            <h6 class="accordion-title">2017-{{ currentYear }}</h6>
            <div class="accordion-content">
              <h6>AdvicePay</h6>
              <p>
                Taking my resposibility to the next level by leading development at a Fintech startup (AdvicePay) in order to launch
                (done!
                <i class="em em-confetti_ball"></i>
                ) and get to profitability (in progress
                <i class="em em-sweat_smile"></i>
                ).
              </p>
            </div>
          </div>
          <div class="accordion-section">
            <h6 class="accordion-title">2015-2017</h6>
            <div class="accordion-content">
              <h6>Remote Contract Engineer</h6>
              <p>The most important factor in determining where to work has been a quality team. This has consistently led me to remote teams where I’ve been able to work with talented folks.</p>
            </div>
          </div>
          <div class="accordion-section">
            <h6 class="accordion-title">2014-2015</h6>
            <div class="accordion-content">
              <h6>NEWBOS Partners</h6>
              <p>My time at Dev Bootcamp prepared me to be the sole web developer for a team creating their bug tracking software.</p>
            </div>
          </div>
          <div class="accordion-section">
            <h6 class="accordion-title">2014</h6>
            <div class="accordion-content">
              <h6>Dev Bootcamp</h6>
              <p>This helped me transition from engineering work with food sorting equipment to web based technologies.</p>
            </div>
          </div>
          <div class="accordion-section">
            <h6 class="accordion-title">2009-2014</h6>
            <div class="accordion-content">
              <h6>Loring Industries</h6>
              <p>It was at Loring where I dived much deeper into programming and its practical applications.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End History Content -->

      <!-- Skills -->
      <div class="col-md-4">
        <div class="skillbar" data-percent="70%">
          <div class="skillbar-title">design</div>
          <div class="skill-bar-percent">70%</div>
          <div class="skillbar-bar"></div>
        </div>

        <div class="skillbar" data-percent="100%">
          <div class="skillbar-title">development</div>
          <div class="skill-bar-percent">100%</div>
          <div class="skillbar-bar"></div>
        </div>

        <div class="skillbar" data-percent="90%">
          <div class="skillbar-title">architecture</div>
          <div class="skill-bar-percent">90%</div>
          <div class="skillbar-bar"></div>
        </div>

        <div class="skillbar" data-percent="80%">
          <div class="skillbar-title">database</div>
          <div class="skill-bar-percent">80%</div>
          <div class="skillbar-bar"></div>
        </div>
      </div>
      <!-- End Skills -->
    </div>
  </div>
</section>
{{ end }}
