{{ define "contact" }}
<!-- Contact Section -->
<section id="contact-section" class="ptb ptb-sm-80">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h3>Get In Touch</h3>
      </div>
    </div>
    <div class="spacer-45"></div>
    <div class="row">
      <div class="page-icon-top text-center">
        <a href="mailto:profsmallpine@gmail.com"><i class="ion ion-android-mail"></i></a>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section -->
{{ end }}
