{{ define "footer" }}
<footer class="footer pt-80">
  <!-- Copyright Bar -->
  <section class="copyright pb-60">
    <div class="container">
      <p class="">
        &copy; {{ currentYear }} <a><b>Profsmallpine</b></a>. All Rights Reserved.
        <br />
      </p>
    </div>
  </section>
  <!-- End Copyright Bar -->
</footer>

<!-- Scroll Top -->
<a class="scroll-top">
  <i class="fa fa-angle-double-up"></i>
</a>
<!-- End Scroll Top -->
{{ end }}
