{{ define "header" }}
<header class="header">
  <div class="container">
    <nav class="navigation singlepage-nav">
      <ul>
        <li>
          <a class="current-ele" href="#intro">Home</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#services">Services</a>
        </li>
        <li>
          <a href="#work">Work</a>
        </li>
        <li>
          <a href="#social">Social</a>
        </li>
        <li>
          <a href="#contact-section">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
{{ end }}
