{{ define "services" }}
<!-- Service Section -->
<section id="services" class="gray-bg ptb ptb-sm-80">
  <div class="wow fadeInLeft container text-left">
    <div class="row">
      <div class="col-md-4 col-sm-6 mb-45">
        <div class="page-icon-top"><i class="ion ion-ios-compose-outline"></i></div>
        <h5>Web Design</h5>
        <p>No stranger to photoshop and the adobe creative suite. Studied design/photography at Wheaton College.</p>
      </div>
      <div class="col-md-4 col-sm-6 mb-45">
        <div class="page-icon-top"><i class="ion ion-ios-gear-outline"></i></div>
        <h5>Development</h5>
        <p>Enjoy building micro-frameworks to solve specific problems in a performant manner but also the magic of platforms like Rails.</p>
      </div>
      <div class="col-md-4 col-sm-6 mb-45">
        <div class="page-icon-top"><i class="ion ion-hammer"></i></div>
        <h5>Architecture</h5>
        <p>Taken courses on software architecture and enjoy studying how an app ought to be put together.</p>
      </div>
    </div>
  </div>
</section>
<!-- End Service Section -->
{{ end }}
