{{ define "work" }}
<!-- Work Section -->
<section id="work" class="wow fadeInUp ptb ptb-sm-80 text-center">
  <div class="container">
    <h3>My Work</h3>
    <div class="spacer-60"></div>
    <!-- work Filter -->
    <div class="row">
      <ul class="container-filter categories-filter mb-0">
        <li><a class="categories active" data-filter="*">All</a></li>
        <li><a class="categories" data-filter=".ruby">Ruby on Rails</a></li>
        <li><a class="categories" data-filter=".python">Python/Pyramid</a></li>
        <li><a class="categories" data-filter=".javascript">Javascript</a></li>
        <li><a class="categories" data-filter=".html">HTML</a></li>
        <li><a class="categories" data-filter=".css">CSS</a></li>
      </ul>
    </div>
    <!-- End work Filter -->
  </div>
  <!-- Work Gallery -->
  <div class="container">
    <div class="row container-grid nf-col-3">
      <div class="nf-item spacing python javascript html css">
        <div class="item-box">
          <a class="cbox-gallary1" href="/assets/images/work/worshipu_library.png" title="WorshipU library">
            <img class="item-container" src="/assets/images/work/worshipu_library.png" alt="5" />
            <div class="item-mask">
              <div class="item-caption">
                <h5 class="white">WorshipU - Learning Platform</h5>
                <p class="white">Rails, Vuejs, Python, Pyramid</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="nf-item spacing python">
        <div class="item-box">
          <a class="cbox-gallary1" href="/assets/images/work/worshipu_python.png" title="WorshipU routing">
            <img class="item-container" src="/assets/images/work/worshipu_python.png" alt="5" />
            <div class="item-mask">
              <div class="item-caption">
                <h5 class="white">WorshipU - Routing</h5>
                <p class="white">Python Routing</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="nf-item spacing javascript">
        <div class="item-box">
          <a class="cbox-gallary1" href="/assets/images/work/worshipu_js.png" title="WorshipU client side code">
            <img class="item-container" src="/assets/images/work/worshipu_js.png" alt="1" />
            <div class="item-mask">
              <div class="item-caption">
                <h5 class="white">WorshipU - VueJS</h5>
                <p class="white">VueJS Methods</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="nf-item spacing python javascript html css">
        <div class="item-box">
          <a class="cbox-gallary1" href="/assets/images/work/worshipu_admin.png" title="WorshipU admin users">
            <img class="item-container" src="/assets/images/work/worshipu_admin.png" alt="1" />
            <div class="item-mask">
              <div class="item-caption">
                <h5 class="white">WorshipU - Admin CMS</h5>
                <p class="white">Users Management</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="nf-item spacing css">
        <div class="item-box">
          <a class="cbox-gallary1" href="/assets/images/work/worshipu_css.png" title="WorshipU CSS">
            <img class="item-container" src="/assets/images/work/worshipu_css.png" alt="1" />
            <div class="item-mask">
              <div class="item-caption">
                <h5 class="white">WorshipU - CSS</h5>
                <p class="white">Technically SASS</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="nf-item spacing python javascript html css">
        <div class="item-box">
          <a class="cbox-gallary1" href="/assets/images/work/worshipu_drag_n_drop.gif" title="WorshipU drag and drop">
            <img class="item-container" src="/assets/images/work/worshipu_drag_n_drop.gif" alt="1" />
            <div class="item-mask">
              <div class="item-caption">
                <h5 class="white">WorshipU - VueJS</h5>
                <p class="white">Drag and drop</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="nf-item spacing html">
        <div class="item-box">
          <a class="cbox-gallary1" href="/assets/images/work/worshipu_html.png" title="WorshipU HTML">
            <img class="item-container" src="/assets/images/work/worshipu_html.png" alt="1" />
            <div class="item-mask">
              <div class="item-caption">
                <h5 class="white">WorshipU - HTML</h5>
                <p class="white">Technically Jinja2</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="nf-item spacing ruby javascript html css">
        <div class="item-box">
          <a class="cbox-gallary1" href="/assets/images/work/whereipark_homepage.png" title="WHEREiPARK home page">
            <img class="item-container" src="/assets/images/work/whereipark_homepage.png" alt="1" />
            <div class="item-mask">
              <div class="item-caption">
                <h5 class="white">WHEREiPARK - Parking Management</h5>
                <p class="white">Ruby on Rails</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="nf-item spacing ruby">
        <div class="item-box">
          <a class="cbox-gallary1" href="/assets/images/work/whereipark_ruby.png" title="WHEREiPARK Ruby">
            <img class="item-container" src="/assets/images/work/whereipark_ruby.png" alt="1" />
            <div class="item-mask">
              <div class="item-caption">
                <h5 class="white">WHEREiPARK - Excel Import</h5>
                <p class="white">Custom Parking Spaces Import</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="nf-item spacing ruby">
        <div class="item-box">
          <a class="cbox-gallary1" href="/assets/images/work/oscarcrm_capybara.png" title="Oscar CRM Tests">
            <img class="item-container" src="/assets/images/work/oscarcrm_capybara.png" alt="1" />
            <div class="item-mask">
              <div class="item-caption">
                <h5 class="white">Oscar CRM - RSpec Tests</h5>
                <p class="white">Capybara/Selenium Integration Tests</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="nf-item spacing ruby javascript html css">
        <div class="item-box">
          <a class="cbox-gallary1" href="/assets/images/work/ibethelshop_homepage.png" title="iBethel Shop homepage">
            <img class="item-container" src="/assets/images/work/ibethelshop_homepage.png" alt="1" />
            <div class="item-mask">
              <div class="item-caption">
                <h5 class="white">iBethel Shop - Custom Rails Ecommerce</h5>
                <p class="white">Ruby on Rails</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="nf-item spacing ruby">
        <div class="item-box">
          <a class="cbox-gallary1" href="/assets/images/work/ibethelshop_ruby.png" title="iBethel Shop compile">
            <img class="item-container" src="/assets/images/work/ibethelshop_ruby.png" alt="1" />
            <div class="item-mask">
              <div class="item-caption">
                <h5 class="white">iBethel Shop - Dynamic SASS Compile</h5>
                <p class="white">Compiles SASS at runtime and uploads to AWS</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Work Gallery -->
</section>
<!-- End Work Section -->
{{ end }}
